@charset "UTF-8";
html, body {
  height: 100%;
  background: #fff;
  overflow-x: hidden;
}

/*animate*/
@keyframes Rotatedown {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
}
@keyframes Rotateup {
  0% {
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
  100% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}
.rotateDown {
  -webkit-animation: Rotatedown 0.1s linear;
  -moz-animation: Rotatedown 0.1s linear;
  -o-animation: Rotatedown 0.1s linear;
  -ms-animation: Rotatedown 0.1s linear;
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.rotateUp {
  -webkit-animation: Rotateup 0.1s linear;
  -moz-animation: Rotateup 0.1s linear;
  -o-animation: Rotateup 0.1s linear;
  -ms-animation: Rotateup 0.1s linear;
  -ms-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}

/*===============navbar*/
.navbar {
  width: 100%;
  height: 60px;
  overflow: hidden;
}

.navbg-color {
  background: #2dc3e8;
}

.nav-logoBox, .nav-menu {
  height: 100%;
}

.nav_module {
  height: inherit;
  float: right;
}

.nav_module li {
  float: left;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  color: #fff;
  cursor: pointer;
}

.nav_module li:nth-child(1) {
  background: url("../images/help.png") no-repeat left center;
}

.nav_module li:nth-child(2) {
  background: url("../images/tip.png") no-repeat left center;
}

.nav_module li:nth-child(3) img {
  display: block;
  width: 46px;
  height: 46px;
  margin: 7px 10px 0 0;
  float: left;
}

.nav_module li:last-child {
  background: url("../images/drop_down.png") no-repeat left center;
}

.color-menu {
  width: 174px;
  height: auto;
  top: 45px;
  right: 25px;
  z-index: 9999;
  background: #fff;
  border: 1px solid #ddd;
  margin-top: 20px;
  display: none;
}

.login_user {
  height: inherit;
  float: left;
}

.arrow {
  width: 0;
  height: 0;
  border-bottom: 11px solid #999;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  position: absolute;
  top: -10px;
  right: 25px;
}

.arrow:before {
  content: "";
  border-bottom: 11px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: 0px;
  right: -10px;
}

.theme_skin {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #999;
  font-size: 14px;
}

.exit_system {
  height: 40px;
  line-height: 40px;
  background: #f5f5f5 url("../images/exit.png") no-repeat 105px center;
}

.color-menu ul {
  width: 70%;
  height: auto;
  overflow: hidden;
  margin: 0 auto 10px;
}

.color-menu li {
  width: 33.3%;
  height: 40px;
  float: left;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.color-menu li span {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.color-menu li[data-file='green'] span {
  background: #1ab394;
}

.color-menu li[data-file='blue'] span {
  background: #57afef;
}

.color-menu li[data-file='science'] span {
  background: #073856;
}

.spread-btn {
  display: block;
  width: 15px;
  height: 60px;
  background: #666;
  color: #fff;
  text-align: left;
  cursor: pointer;
  line-height: 40px;
  left: -15px !important;
}

.nav-logoBox img {
  display: block;
  height: 50px;
  margin: 5px 0 0 15px;
}

.page-container {
  width: inherit;
  height: calc( 100% - 60px );
}

.page-sidebar {
  width: 224px;
  margin-left: 3px;
  border-left: 1px solid #ddd;
  height: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.menu-compact {
  width: 42px;
}

.sidebar-menu {
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.sidebar-menu li {
  border-left: 4px solid #fff;
  position: relative;
}

.sidebar-menu li a {
  display: block;
  height: 36px;
  line-height: 36px;
  position: relative;
  border-bottom: 1px solid #f3f3f3;
}

.page-sidebar.menu-compact .sidebar-menu > li > a {
  position: relative;
  z-index: 123;
}

.page-container .sidebar-menu .active:hover {
  border-left: 4px solid #2dc3e8;
}

.sidebar-menu .open {
  border-left: 4px solid #fff;
  background: #fff !important;
}

.sidebar-collapse {
  width: 38px;
  height: inherit;
  text-align: center;
  line-height: 38px;
}

.sidebar-collapse img {
  display: block;
  width: 38px;
  height: 38px;
}

.menu-compact .sidebar-menu > li > a .menu-text {
  display: none;
  position: absolute;
  left: 38px;
  top: 0;
  width: 170px;
  height: 38px;
  line-height: 38px;
  background: #fff;
  z-index: 150;
  padding-left: 25px;
  box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.3), 5px 5px 5px -5px rgba(0, 0, 0, 0.3), 5px -5px 5px -5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.3), 5px 5px 5px -5px rgba(0, 0, 0, 0.3), 5px -5px 5px -5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.3), 5px 5px 5px -5px rgba(0, 0, 0, 0.3), 5px -5px 5px -5px rgba(0, 0, 0, 0.3);
}

.menu-compact .sidebar-menu > .active > a .menu-text {
  box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.3), 5px 5px 5px -5px rgba(0, 0, 0, 0.3), 5px -5px 5px -5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.3), 5px 5px 5px -5px rgba(0, 0, 0, 0.3), 5px -5px 5px -5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.3), 5px 5px 5px -5px rgba(0, 0, 0, 0.3), 5px -5px 5px -5px rgba(0, 0, 0, 0.3);
}

.menu-compact .sidebar-menu .submenu {
  background: #fbfbfb;
  position: absolute;
  z-index: 120;
  left: 42px;
  top: 38px;
  width: 190px;
  box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  display: none;
  border-left: 1px solid #f3f3f3;
  box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.3), 5px 5px 5px -5px rgba(0, 0, 0, 0.3), 5px -5px 5px -5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.3), 5px 5px 5px -5px rgba(0, 0, 0, 0.3), 5px -5px 5px -5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.3), 5px 5px 5px -5px rgba(0, 0, 0, 0.3), 5px -5px 5px -5px rgba(0, 0, 0, 0.3);
}

.menu-compact .sidebar-menu > li:hover > a > .menu-text {
  display: block;
}

.page-sidebar.menu-compact .sidebar-menu > li:hover > .submenu {
  display: block !important;
}

.submenu {
  display: none;
  box-shadow: inset 0 4px 4px -2px rgba(0, 0, 0, 0.15), inset 0 -4px 4px -2px rgba(0, 0, 0, 0.15);
  padding: 3px 0;
}

.thrsubmenu {
  position: relative !important;
  top: 0px !important;
}

.page-sidebar .sidebar-menu > li > .submenu:before {
  content: "";
  display: block;
  position: absolute;
  left: 23px;
  top: 0;
  bottom: 19px;
  border-left: 1px solid #e2e2e2;
  z-index: 1;
}

.submenu a {
  border-bottom: none !important;
  padding-left: 40px;
  position: relative;
}

.page-sidebar .sidebar-menu > li > .submenu > li > a:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 3px;
  height: 3px;
  left: 17px;
  top: 17px;
  background-color: #e2e2e2;
  border: 1px solid #e2e2e2;
  z-index: 2;
}

.menu-compact .sidebar-menu > li > .submenu > li > a:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 3px;
  height: 3px;
  left: 17px;
  top: 17px;
}

.page-sidebar.menu-compact .sidebar-menu > li > .submenu li .submenu {
  left: -5px;
}

.page-sidebar .sidebar-menu a .icon-iconexpand {
  display: inline-block;
  position: absolute;
  font-size: 10px;
  line-height: 10px;
  height: 10px;
  width: 10px;
  right: 12px;
  top: 15px;
  text-align: center;
  -webkit-text-shadow: none;
  text-shadow: none;
  color: #999;
}

.page-sidebar.menu-compact .sidebar-menu > li > a .icon-iconexpand {
  display: none;
}

/*page-body*/
.page-body {
  height: 100%;
  overflow: hidden;
}

.page-menu {
  height: 40px;
}

.ui_tabs_shadow {
  box-shadow: 2px 3px 2px #ddd;
  -moz-box-shadow: 2px 3px 2px #ddd;
  -webkit-box-shadow: 2px 3px 2px #ddd;
}

.xhn_topNavUl li {
  margin: 0 6px;
  width: auto;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  position: relative;
  background: #fff;
  cursor: pointer;
  font-size: 12px;
  font-weight: normal;
  float: left;
  box-sizing: border-box;
}

.xhn_topNavUl li:first-child {
  width: 90px;
  text-align: right;
  font-size: 13px;
  margin: 0  5px;
}

.page-container .xhn_topNavUl li:first-child {
  background: url("../images/workblue.png") no-repeat 15px center;
}

.page-container .xhn_topNavUl li:first-child a {
  color: #2dc3e8;
}

.xhn_topNavUl li:first-child:hover {
  border-bottom: none;
  cursor: default;
}

.page-container .ui-tabs .ui-tabs-nav li.ui-state-hover {
  border-bottom: 2px solid #2dc3e8;
}

.page-container .ui-tabs .ui-tabs-nav li.ui-state-hover a {
  color: #2dc3e8;
}

.page-container .ui-tabs .ui-tabs-nav li.ui-tabs-selected {
  border-bottom: 2px solid #2dc3e8;
}

.page-container .ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
  color: #2dc3e8;
}

.ui-corner-all {
  position: absolute;
  cursor: pointer;
  padding: 0px;
  top: 0px;
  right: -1px;
}

/*#ui-close{
  @include uiClose;
  background: url(../images/delete.png)center no-repeat;
  display: none;
}*/
.xhn_topNavUl li:hover #ui-close {
  display: block !important;
}

#ui-close:hover {
  background-size: 16px 16px !important;
}

#tabs {
  background: #fff;
  position: relative;
  height: 100%;
}

.ui-tabs-panel {
  width: 100% !important;
  height: calc( 100% - 45px ) !important;
  margin-top: 2px;
  position: relative;
}

.ui-tabs-hide {
  display: none;
}

.main-scroll {
  overflow-y: scroll;
}

/*404,500椤甸潰*/
.body-404 {
  min-height: 100%;
  background: #E1FFFF;
}

.body-500 {
  min-height: 100%;
  background: #FFE4B5;
}

.error-header {
  height: 280px;
  background: #fff;
}

.error-container {
  height: 310px;
}

.error-center {
  width: 70%;
  height: 410px;
  margin: -120px auto 0;
  background: rgba(0, 0, 0, 0.05);
}

.error-center h3 {
  height: 120px;
  line-height: 150px;
  text-align: center;
  font-size: 110px;
  font-weight: normal;
}

.fblue {
  color: #2dc3e8;
}

.forange {
  color: #fb6e52;
}

.error-main {
  height: 290px;
  text-align: center;
}

.main-tp {
  height: 70px;
  line-height: 90px;
  font-size: 58px;
  color: #fff;
  text-transform: uppercase;
}

.mian-cen {
  height: 50px;
  line-height: 50px;
  color: #e5e5e5;
  font-size: 40px;
  font-weight: normal;
}

.main-bm {
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 30px;
}

.return-btn {
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff !important;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  font-size: 16px;
  font-weight: 300;
  background: #999;
}

.btn-bhover:hover {
  color: #2dc3e8 !important;
  background: #fff;
}

.btn-ohover:hover {
  color: #fb6e52 !important;
  background: #fff;
}

/*login*/
.login_cont {
  width: 100%;
  height: 50%;
  background: url(../images/login.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.login_logo {
  width: 100%;
  height: 20%;
  position: absolute;
  left: 0;
  top: -150px;
}

.login_logo img {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.login_box {
  width: 250px;
  height: 280px;
  background: #f5f5f5;
  border-radius: 5px;
  position: absolute;
  right: 180px;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 10px;
}

.login_box h3 {
  background: #fff;
  height: 40px;
  line-height: 45px;
  padding-left: 40px;
  color: #f30;
  font-size: 15px;
  border-bottom: 2px solid #f63;
  background: #fff url(../images/lg.gif) no-repeat 8px center;
}

.lgcont {
  width: 100%;
  height: 238px;
  background: #eee;
  overflow: hidden;
}

.lgcont p {
  width: 265px;
  height: 35px;
  line-height: 45px;
  margin-top: 13px;
  padding-left: 10px;
}

.lgcont p input {
  border: none;
  width: 180px;
  height: 35px;
  float: left;
  border: 1px solid #ddd;
  padding-left: 5px;
  outline: none;
}

.lgcont p span {
  display: block;
  width: 35px;
  height: 35px;
  float: left;
  margin-right: 4px;
  border: 1px solid #ddd;
}

.lgcont .p1 span {
  background: #fff url("../images/user.png") no-repeat center;
}

.lgcont .p2 span {
  background: #fff url("../images/pass.png") no-repeat center;
}

.lgcont .p3 input {
  width: 140px;
  margin-right: 10px;
}

.lgcont .p3 img {
  display: block;
  width: 70px;
  height: 35px;
}

.lgcont .p4 input {
  width: 228px;
  background: #f96;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 20px;
}

.lgcont .p4 input:hover {
  background: #f63;
}
